.about-content-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 30px;

  .about-header {
    font-size: 4.5rem;
    font-weight: 900;
    color: $teal;
  }

  .about-text {
    font-size: 1.21rem;
    line-height: 2.4rem;
    font-weight: 600;

    ul {
      margin-top: 0px;
    }
  }

  .about-links-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 21px;
  }

  .about-link {
    display: flex;
    justify-content: center;
    align-items: center;

    a {
      color: $teal;
      font-size: 2em;
      transition: 0.5s ease-in-out;

      &:hover {
        color: $dark-teal;
      }
    }

    .text {
      font-size: 2.5em;
      margin-left: 21px;
      text-decoration: none;
    }
  }
}
