.portfolio-sidebar-list-wrapper {
  .portfolio-item-thumb {
    padding: 21px;

    .portfolio-thumb-img img {
      width: 100%;
    }

    .title {
      color: $offwhite;
    }
  }

  .portfolio-text {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title {
      font-size: 1.5rem;
      margin-right: 20px;
    }

    .delete-icon {
      font-size: 1.5rem;
      transition: 0.1s ease-in-out;
      margin-right: 10px;
      color: $offwhite;

      &:hover {
        cursor: pointer;
        color: $warning;
      }
    }
  }
}
